In [1]:
import pandas as pd
import seaborn as sns
from sklearn import linear_model

In [2]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [4]:
tips['sex_dummy'] = pd.get_dummies(tips['sex'],
                                   drop_first=True)
tips.head()

   total_bill   tip     sex smoker  day    time  size  sex_dummy
0       16.99  1.01  Female     No  Sun  Dinner     2          1
1       10.34  1.66    Male     No  Sun  Dinner     3          0
2       21.01  3.50    Male     No  Sun  Dinner     3          0
3       23.68  3.31    Male     No  Sun  Dinner     2          0
4       24.59  3.61  Female     No  Sun  Dinner     4          1

In [5]:
lr = linear_model.LinearRegression()

In [6]:
X = tips[['total_bill', 'sex_dummy', 'size']]
Y = tips['tip']

In [7]:
predicted = lr.fit(X, Y)

In [8]:
predicted.coef_

array([ 0.09292034,  0.02641868,  0.19258767])

In [9]:
# probably a better way to do this
results = pd.DataFrame(
    predicted.coef_,
    index = ['total_bill', 'sex_dummy', 'size']
)

In [10]:
results

                   0
total_bill  0.092920
sex_dummy   0.026419
size        0.192588